# piptools: python3only

# Dispatching system for parties to subscribe to events
# Supports per-endpoint timing in flask
# License: MIT
# Upstream url: https://pypi.python.org/pypi/blinker
blinker==1.4

# The modular source code checker: pep8, pyflakes and co
# License: MIT
# Upstream url: http://bitbucket.org/tarek/flake8
flake8==3.5.0

# Coroutine-based network library
# License: MIT
# Upstream url: http://www.gevent.org/
gevent==1.2.2

# Lightweight in-process concurrent programming
# License: MIT
# Upstream url: https://github.com/python-greenlet/greenlet
greenlet==0.4.12

# Testing library
# License: MIT
# Upstream url: https://github.com/pytest-dev/pytest
pytest==3.3.0

# Thin-wrapper around the mock package for easier use with py.test
# License: MIT
# Upstream url: https://github.com/pytest-dev/pytest-mock/
pytest-mock==1.6.3

# Code coverage plugin for py.test
# License: MIT
# Upstream url: https://github.com/pytest-dev/pytest-cov
pytest-cov==2.5.1

# A flake8 plugin that helps you write tidier imports.
# License: ISCL
# Upstream url: https://pypi.python.org/pypi/flake8-tidy-imports
flake8-tidy-imports==1.1.0

# WSGI HTTP Server for UNIX
# License: BSD
# Upstream url: http://github.com/mitsuhiko/flask/
Flask>=1.0,<2.0

# Scripting support for Flask
# License: BSD
# Upstream url: http://github.com/techniq/flask-script
Flask-Script==2.0.5

# A simple statsd client.
# License: MIT
# Upstream url: https://github.com/jsocol/pystatsd
statsd==3.2.1

# A python library adding a json log formatter
# License: BSD
# Upstream url: http://github.com/madzak/python-json-logger
python-json-logger==0.1.11

# Sanctioned DynamoDB ODM, uncomment for dynamo support
# A pythonic interface to Amazon's DynamoDB
# License: MIT
# Upstream url: https://github.com/pynamodb/PynamoDB
pynamodb==3.3.1

# YAML parser and emitter for Python
# License: MIT
# Upstream url: http://pyyaml.org/wiki/PyYAML
PyYAML==5.1

# Library for use by services that receive messages from omnibot.
# License: Apache2
# Upstream url: https://github.com/lyft/python-omnibot-receiver
omnibot-receiver==3.1.4
